@charset "utf-8";
/* CSS Document */

body{
	background-color:hsl(30, 38%, 92%);
	}

.container{
margin-top: 30px
	
}
.card{
	border: none;

}
.desktopimage{
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	
}

.mobileimage{
	display: none
}

.card-body{
	text-align: left;
	padding: 40px 40px 0px 40px;
	color: hsl(228, 12%, 48%);
	 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

.card-title{
	color: hsl(212, 21%, 14%);
	font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
	
}

.card-title2{
	margin-top: 10px;
	float: left;
	color: hsl(158, 36%, 37%);
	font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
	
}


.btn{
	margin-top:30px;
	padding: 15px 10px 15px 10px;
	background-color: hsl(158, 36%, 37%);
	border: none;
}
.btn:hover {
      background-color:hsla(156,32%,12%,1.00);
  }


.btn span.icon{
	
	    background: url("images/icon-cart.svg") no-repeat left;
   padding-left:30px;
	
	
}

.card-text1{
	letter-spacing: 6px;
	
}

.card-text2{
	letter-spacing: .5px
}
.card-text3{
	margin-top: 10px;
	text-decoration: line-through;
	float: right;
	padding-top: 12px;
	margin-right: 50px;
	
}

@media screen and (max-width: 766px) {
		
	

	.card{
		border-radius: 10px;
	}
	
	.desktopimage{
		display: none;
	}
	
	
	.mobileimage{
	border-bottom-left-radius: 0px;
	border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		display: inline;
		height: 400px; 
		
	
	}
	
	.card-text3{ padding-right: 190px;
		margin-bottom: -15px;
		
	}
	.btn{ margin: 10px 0px 30px 0px;
		padding: 15px
	}
	
	
}




